APP_NAME=Demo
APP_ENV=local  # production
APP_DEBUG=true  # false
APP_KEY=base64:QHGEYxjsDjvtROPJTcr/mZFRsp5MCv3Kh/mEGlNDM9c=
APP_URL=http://demo.local

# http代理, 主要给wechat调用使用
APP_HTTP_PROXY=null
APP_HTTP_VERIFY=true

# log配置
LOG_LEVEL=debug # info, debug, error
LOG_CHANNEL=stack

# 阿里云配置
ALIYUN_REGION_ID=""
ALIYUN_ACCOUNT_ID=""
ALIYUN_ACCESS_KEY_ID=""
ALIYUN_ACCESS_KEY_SECRET=""

# 函数计算
FC_INTERNAL=true    # true
FC_REGION_ID=${ALIYUN_REGION_ID}
FC_ACCOUNT_ID=${ALIYUN_ACCOUNT_ID}
FC_ACCESS_KEY_ID=${ALIYUN_ACCESS_KEY_ID}
FC_ACCESS_KEY_SECRET=${ALIYUN_ACCESS_KEY_SECRET}

# 表格存储
OTS_ACCESS_KEY_ID=${ALIYUN_ACCESS_KEY_ID}
OTS_ACCESS_KEY_SECRET=${ALIYUN_ACCESS_KEY_SECRET}
OTS_INSTANCE_NAME=""
OTS_ENDPOINT=""

# 数据库
DB_CONNECTION="sqlite"   # mysql
DB_PORT=3306
DB_STRICT=null
DB_CHARSET=null
DB_DATABASE=""
DB_USERNAME=""
DB_PASSWORD=""
DB_HOST=""

# 钉钉
DING_TALK_ROBOT_ENABLED=false   # true
DING_TALK_ROBOT_ACCESS_TOKEN=""
