APP_NAME=Demo
APP_KEY=base64:EPjesidkAFSlzt1ZhU9xBLpmEQJQAafgpL2yysr2DJw=
APP_URL="http://demo.local.x4k.net"

APP_DEBUG=true
APP_ENV=local

# 在函数计算跑的时候存储目录
#FC_STORAGE_PATH="/mnt/storage"

# log
LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
#LOG_PATH="${FC_STORAGE_PATH}/logs"

# octane
OCTANE_HTTPS=false

# 代理
APP_HTTP_PROXY='http://localhost:8888'
APP_HTTP_VERIFY=false

# 队列
QUEUE_CONNECTION="sync"

# 缓存
CACHE_PREFIX="demo:1:"

# 阿里云配置
ALIYUN_ACCESS_KEY_ID=""
ALIYUN_ACCESS_KEY_SECRET=""
ALIYUN_REGION_ID="cn-hangzhou"
ALIYUN_ACCOUNT_ID="1229573479957664"

# 函数计算
FC_HTTP_PROXY=${APP_HTTP_PROXY}
FC_HTTP_VERIFY=${APP_HTTP_VERIFY}
FC_ACCESS_KEY_ID=${ALIYUN_ACCESS_KEY_ID}
FC_ACCESS_KEY_SECRET=${ALIYUN_ACCESS_KEY_SECRET}
FC_REGION_ID=${ALIYUN_REGION_ID}
FC_ACCOUNT_ID=${ALIYUN_ACCOUNT_ID}
FC_INTERNAL=false

# 表格存储
OTS_ACCESS_KEY_ID=${ALIYUN_ACCESS_KEY_ID}
OTS_ACCESS_KEY_SECRET=${ALIYUN_ACCESS_KEY_SECRET}
OTS_ENDPOINT=""
OTS_INSTANCE_NAME=""
OTS_CONNECTION_TIMEOUT=10
OTS_SOCKET_TIMEOUT=10

# database
DB_CONNECTION="sqlite"

# 钉钉
DING_TALK_ROBOT_ENABLED=false
